<section id="beanHero" data-img="{{background}}">
  <div class="section">
    <div class="hero-text">
      <h2>All About {{name}}</h2>
      <p>{{tagline}}</p>
    </div>
  </div>
  <div class="arrow-down heartbeat"></div>
</section>

<section id="beanInfo" class="section">
  <h2 class="hide">{{name}}</h2>

  <div class="info-container">
    <h3>The Origins</h3>
    <p>{{origin}}</p>
    <a href="{{originsource}}" class="sourcelink" target="_blank">source</a>
  </div>

  <div class="image-container">
    <img src="/images/{{image}}" alt="{{name}} beans">
  </div>

  <div class="info-container">
    <h3>The Flavour</h3>
    <p>{{flavour}}</p>
    <a href="{{flavoursource}}" class="sourcelink" target="_blank">source</a>
  </div>
</section>

<a class="back" href="/"><i class="fas fa-home"></i></a>
